
<div class="footer">
    <div class="footer-r" dir="rtl">
        <div class="footer-text">
            <div class="footer-menu">
                <ul id="nav" class="dropdown">
                    <li>
                        <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                            <tbody>
                            <tr id="row8" style="cursor:pointer;"
                                onclick="goto(&#39;page&#39;, &#39;id&#39; ,&#39;kl4_mianachnu.html&#39;, &#39;hmenu&#39;,-1);">
                                <td id="td8" class="td-Style-bot td-NotSelected-bot">מי אנחנו</td>
                            </tr>
                            <tr>
                                <td class="arrow-down">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                            <tbody>
                            <tr id="row19" style="cursor:pointer;"
                                onclick="goto(&#39;page&#39;, &#39;id&#39; ,&#39;kl4_colleagues.html&#39;, &#39;hmenu&#39;,-1);">
                                <td id="td19" class="td-Style-bot td-NotSelected-bot">שותפים</td>
                            </tr>
                            <tr>
                                <td class="arrow-down">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table border="0" cellspacing="0" cellpadding="0" dir="rtl" margin="0" width="100%">
                            <tbody>
                            <tr id="row9" style="cursor:pointer;"
                                onclick="goto(&#39;page&#39;, &#39;id&#39; ,&#39;kl4_said_about_us.html&#39;, &#39;hmenu&#39;,-1);">
                                <td id="td9" class="td-Style-bot td-NotSelected-bot">אמרו עלינו</td>
                            </tr>
                            <tr>
                                <td class="arrow-down">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table border="0" cellspacing="0" cellpadding="0" dir="rtl" margin="0" width="100%">
                            <tbody>
                            <tr id="row10" style="cursor:pointer;"
                                onclick="goto(&#39;page&#39;, &#39;id&#39; ,&#39;kl4_terms_of_use.html&#39;, &#39;hmenu&#39;,-1);">
                                <td id="td10" class="td-Style-bot td-NotSelected-bot">תנאי שימוש באתר</td>
                            </tr>
                            <tr>
                                <td class="arrow-down">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table border="0" cellspacing="0" cellpadding="0" dir="rtl" margin="0" width="100%">
                            <tbody>
                            <tr id="row11" style="cursor:pointer;"
                                onclick="goto(&#39;page&#39;, &#39;id&#39; ,&#39;kl4_contact_us.html&#39;, &#39;hmenu&#39;,-1);">
                                <td id="td11" class="td-Style-bot td-NotSelected-bot">צור קשר</td>
                            </tr>
                            <tr>
                                <td class="arrow-down">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table border="0" cellspacing="0" cellpadding="0" dir="rtl" margin="0" width="100%">
                            <tbody>
                            <tr id="row12" style="cursor:pointer;"
                                onclick="goto(&#39;page&#39;, &#39;id&#39; ,&#39;kl4_yoatzim.html&#39;, &#39;hmenu&#39;,-1);">
                                <td id="td12" class="td-Style-bot td-NotSelected-bot">ליועצים</td>
                            </tr>
                            <tr>
                                <td class="arrow-down">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table border="0" cellspacing="0" cellpadding="0" dir="rtl" margin="0" width="100%">
                            <tbody>
                            <tr id="row13" style="cursor:pointer;"
                                onclick="goto(&#39;page&#39;, &#39;id&#39; ,&#39;kl4_website_map.html&#39;, &#39;hmenu&#39;,-1);">
                                <td id="td13" class="td-Style-bot td-NotSelected-bot">מפת אתר</td>
                            </tr>
                            <tr>
                                <td class="arrow-down">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table border="0" cellspacing="0" cellpadding="0" dir="rtl" margin="0" width="100%">
                            <tbody>
                            <tr id="row14" style="cursor:pointer;"
                                onclick="goto(&#39;page&#39;, &#39;id&#39; ,&#39;kl4_feedback.html&#39;, &#39;hmenu&#39;,-1);">
                                <td id="td14" class="td-Style-bot tdLast-NotSelected">תן משוב</td>
                            </tr>
                            <tr>
                                <td class="arrow-down">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-l">
        <span class="footer-text">
            <img src="kl4_files/digidam.png" alt="דיגידם בניית אתרים" width="63" height="15"
                 align="absmiddle">
            &nbsp;&nbsp;כל הזכויות שמורות © כיוונים לעתיד 2015
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="http://digidam.co.il/" target="_blank" class="footer-text">בניית אתרים</a>

            </span>
    </div>
</div>
<div class="footer-bg"></div>