{% extends "layout.html" %}

{% block head %}
<title>
    דף הבית - כותרת דפדפן
</title>
<meta name="Keywords" contht="דף הבית - מילות מפתח">
<meta name="Description" contht="דף הבית - תיאור">
{% endblock %}

{% block js %}
<script type="text/javascript" src="kl4_files/410.js"></script>
{% endblock%}

{% block content %}
<div class="content">

    <div class="default-top">
        <div class="home-menu-right">
            <!--<div class="home-menu-right-td MyAreaArrow"></div>-->
            <!--<div class="home-menu-right-td RegisterArrow" onclick="gotoURL('Register.aspx');"></div>-->
            <!--<div class="home-menu-right-td KnowArrow" onclick="gotoURL('page.aspx?id=4&amp;hmenu=4');"></div>-->
            <!--<div class="home-menu-right-td ProffetionArrow"></div>-->
            <!--<div class="y-Reg">מדוע מומלץ להרשם? </div>-->
        </div>
        <div class="default-top-middle">
            <p style="text-align: center;" dir="rtl"><span style="font-size: x-large;"><strong><span
                    style="color: #ff9900;"><!--<span style="color: #00ccff;">--><span style="color: navy;"><span
                    style="font-family: arial, helvetica, sans-serif;">העתיד מתחיל ב</span></span><span
                    style="color: #ffa928;"><span
                    style="font-family: arial, helvetica, sans-serif;">כיוונים לעתיד</span></span><br></span></strong></span><br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/f5W7Adcq8RQ" frameborder="0"
                        allowfullscreen></iframe>
            </p>


        </div>
        <div class=" default-top-left">
            <div style="direction: rtl; line-height: 17px;">
                <h2 dir="rtl">
                    <span style="color: #000000;">
                    <span style="font-size: small;">
                    <span style="color: #888888;"><span style="color: #808080;"><strong>
                    <span style="color: #5b5b5b;">בחירת תחום לימודים ומקצוע היא החלטה חשובה ומורכבת שכדאי להשקיע בה.</span>
                    </strong><br></span><br></span>
                    </span></span><strong>כיצד
                    כיוונים לעתיד יסייע לך?</strong></h2>
    <span class="text">
    <span style="color: #5b5b5b;">
    <div style="font-size: 13px; line-height: 17px; direction: rtl;">1. להכיר את עצמך על מנת להיות מוכן יותר לקבלת
        ההחלטה.<br><br>2.לקבל ליווי צמוד בשלבי ההחלטה.<br><br>3.חשיפה למידע רלוונטי שיסייע לך במימוש ההחלטה.
    </div>
<br><br><br>
    <strong>מעל 500,000 כבר נעזרו באתר, ומה איתך?</strong></span></span></div>


        </div>
    </div>
    <div class="line"></div>
    <div class="default-bottom">
        <img src="kl4_files/Logo1.png" class="def-bott-img" onclick="gotoURL();">
        <img src="kl4_files/Logo2.png" class="def-bott-img" onclick="gotoURL();">
        <img src="kl4_files/Logo3.png" class="def-bott-img" onclick="gotoURL();">
        <img src="kl4_files/Logo4.png" class="def-bott-img" onclick="gotoURL();">
        <img src="kl4_files/qm.png" class="def-bott-img" onclick="gotoURL();">


    </div>

</div>
{% endblock %}