<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{page.title}}</title>
    {% block head %}
    {% endblock %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=8">
    <link href="/css/div.css" rel="stylesheet"       type="text/css">
    <link href="/css/menuCss.css" rel="stylesheet"   type="text/css">
    <link href="/css/header.css" rel="stylesheet"   type="text/css">
    {% block css %}
    {% endblock %}

    <script src="/dependencies/jquery-1.10.2.js"></script>
    {% block js %}
    {% endblock %}
</head>
<body>
{% include "partials/header.html" %}
{% block content %}{% endblock %}
{% include "partials/footer.html" %}
</body>
</html>