.SonsBlock{
    background: white;
}
ul.dropdown li ul li:hover {
    background: #FCE16E;
}
ul.dropdown li ul li:hover {
    background-color: #FCE16E;
}

/*prevent list items from getting an underline*/
.SonsBlock a {
    text-decoration: none;
}