<div class="menu-right">

    <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
        <tr>
            <td class="menu-right-td"><a href="{{ path }}/information/kl4_information"
                                         style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 1 %}-selected{% endif %}" style="font-size: medium">איפה כדאי ללמוד?</span></a>
            </td>
        </tr>
        <tr>
            <td class="menu-right-td" style="font-size: medium"><a
                        href="{{ path }}/information/kl4_information_psychometric"
                        style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 2 %}-selected{% endif %}"
                            style="font-size: medium">פסיכומטרי</span></a>
            </td>
        </tr>
        <tr>
            <td class="menu-right-td"><a
                        href="{{ path }}/information/kl4_information_acceptance"
                        style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 3 %}-selected{% endif %}"
                            style="font-size: medium">סיכויי קבלה </span></a>
            </td>
        </tr>
        <tr>
            <td class="menu-right-td" style="font-size: medium"><a
                        href="{{ path }}/information/kl4_information_mechinot"
                        style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 4 %}-selected{% endif %}"
                            style="font-size: medium">מכינות</span></a>
            </td>
        </tr>
        <tr>
            <td class="menu-right-td"><a
                        href="{{ path }}/information/kl4_information_scholarships"
                        style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 5 %}-selected{% endif %}"
                            style="font-size: medium">מלגות</span></a>
            </td>
        </tr>
        <tr>
            <td class="menu-right-td"><a
                        href="{{ path }}/information/kl4_information_job_search"
                        style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 6 %}-selected{% endif %}"
                            style="font-size: medium">חיפוש עבודה </span></a>
            </td>
        </tr>
        <tr>
            <td class="menu-right-td"><a
                        href="{{ path }}/information/kl4_information_how_to_do_it"
                        style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 7 %}-selected{% endif %}"
                            style="font-size: medium">איך מממשים?</span></a>
            </td>
        </tr>
    </table>


</div>