{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>איפה כדאי ללמוד?</h1>


            </div>


            <div class="menu-right">

                <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_information.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text-selected" style="font-size: medium">איפה כדאי ללמוד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td" style="font-size: medium"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_psychometric.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">פסיכומטרי</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_acceptance.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">סיכויי קבלה </span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td" style="font-size: medium"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_mechinot.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">מכינות</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_scholarships.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">מלגות</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_job_search.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">חיפוש עבודה </span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_how_to_do_it.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">איך מממשים?</span></a>
                        </td>
                    </tr>
                </table>


            </div>

            <div class="page-content" style="margin-right: 271px;">
                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">החלטת ללמוד לימודים גבוהים, אבל נתקעת בהחלטה
"איפה"? &ndash; ההחלטה על מוסד הלימודים היא החלטה לא פשוטה, הטומנת בחובה
שיקולים רבים שיש לקחת בחשבון.&nbsp;לא בכל המוסדות
אפשר ללמוד את כל התחומים, ולכן ההחלטות מה ללמוד והיכן ללמוד קשורות לעיתים זו
בזו.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">עם זאת, לא רק התחום הוא שקובע איפה כדאי ללמוד. רצוי גם לבחון
את איכות השירות, איכות סביבת הלימודים, התשתיות תומכות ההוראה, איכות ההוראה,
והשירותים לסטודנט במוסדות השונים.&nbsp;אנו ממליצים לך
גם לבחון את השאלה "האם ללמוד קרוב או רחוק מהבית?", וזאת תוך שימת לב
להכנסות הצפויות לך במהלך שנות הלימוד הצפויות (הכנסות שיכולות לכלול תמיכה כלכלית
מההורים, שבירת חסכונות או עצמאות כלכלית שתוליד את הצורך לעבוד במהלך התואר).</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-family: arial, helvetica, sans-serif;">&nbsp;<b>המלצותינו
                    לך:</b></span></span></span></p>
                <table dir="rtl" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                    <tbody>
                    <tr>
                        <td width="42" valign="top">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td width="100%" valign="top">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">אם אינך יודע או אינך בטוח מה ברצונך ללמוד &ndash;
                                תוכל להיעזר
  במערכות "<a href="http://mivdak.yoram.co.il/" target="_blank">מבדק</a>"&nbsp;(חינם לכולם)&nbsp;ו"<a
                                        href="http://www.nx2learn.com/entrance-requirements.php"
                                        target="_blank">מידעת</a>". </span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="42" valign="top">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td width="100%" valign="top">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">באתר "<a
                                    href="http://www.che.org.il/colleges/default.asp?maincat=2&amp;catID=45"
                                    target="_blank">המועצה
                                להשכלה גבוהה</a>" תוכל למצוא את&nbsp;רשימת&nbsp;המוסדות
  להשכלה גבוהה, לפי קטגוריות וחיתוכים שונים. בנוסף, מומלץ לבקר באתרי המוסדות
  בהם אתה שוקל ללמוד.</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="42" valign="top">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td width="100%" valign="top">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">אוניברסיטה או מכללה? החלטה לא קלה. עצות בשאלה זו ניתן
  למצוא&nbsp;<a href="http://kivunim.huji.ac.il/next/college1.html" target="_blank">כאן</a>.</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="42" valign="top">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td width="100%" valign="top">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">כמו כן, במדור "ייעוץ אישי" באתר&nbsp;זה תוכל למצוא רשימה של מקומות נוספים בהם אפשר לקבל סיוע
  בבחירת תחום הלימודים (<a href="http://kivunim.huji.ac.il/guide/personal.html">ייעוץ אישי</a>,&nbsp;<a
                                        href="http://kivunim.huji.ac.il/guide/phone.html">ייעוץ
                                    טלפוני</a> ו<a href="http://kivunim.huji.ac.il/guide/forum.html">פורומי
                                    ייעוץ</a>)</span></span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>

        </div>
{% endblock %}