{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>חיפוש עבודה</h1>


            </div>


            <div class="menu-right">

                <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_information.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">איפה כדאי ללמוד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td" style="font-size: medium"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_psychometric.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">פסיכומטרי</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_acceptance.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">סיכויי קבלה </span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td" style="font-size: medium"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_mechinot.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">מכינות</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_scholarships.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">מלגות</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_job_search.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text-selected"
                                                                                    style="font-size: medium">חיפוש עבודה </span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_how_to_do_it.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">איך מממשים?</span></a>
                        </td>
                    </tr>
                </table>


            </div>


            <div class="page-content" style="margin-right: 271px;">
                <p><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><br/></span></span></p>

                <div style="text-align: justify;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">
</span>
<p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;">חיפוש עבודה הוא
"עבודה" בפני עצמה ורבים מתקשים בביצוע משימה זו, שדורשת יוזמה, קבלת
החלטות והשקעה רבה. אתר זה ידריך אותך בתהליך החיפוש ובחירת המשרה המתאימה לך ביותר,
ויספק לך הכוונה למקורות סיוע אחרים, באינטרנט ומחוצה לו. <br/>
<br/>
העבודה מהווה חלק נכבד מחיינו ואנו משקיעים בה בממוצע כ-11 שנים, כלומר, כ-15%
מחיינו! עולם העבודה מציע כיום מגוון רחב מאוד של משרות בכל מקצוע, מה שמקשה על
רבים לבחור את המשרה המתאימה ביותר, גם לאחר שבחרו את המקצוע בו ירצו לעסוק בעתיד.
</span></p>
<p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;">רבים מהמעסיקים
מעדיפים את עובדיהם בעלי ניסיון, דבר החוסך מהם לימוד והכשרה ארוכת טווח. לכן, גם
אם רק זה עתה בחרת את תחום הלימודים או המקצוע המתאימים לך, כדאי שתשקול לצבור
ניסיון בתחום זה. ניסיון בתחום, גם אם בתפקידים זוטרים או זמניים, יקנה לך ידע רב
ויקר ערך על התחום בו בחרת. כך ההתנסות יכולה לחזק את בחירתך, או מצד שני (וגם זה
לטובה!) לגרום לך לפקפק במידת ההתאמה שלך למקצוע, ולשקול בחירה בתחום עיסוק שונה.</span></p>
<p dir="RTL"><span><span style="font-family: arial, helvetica, sans-serif;">תהליך בחירת
המשרה הוא חשוב ובעל השפעות רבות, שכן מקום העבודה שבו תבחר יהווה חלק משמעותי
בחייך במהלך תקופת העסקתך, וגם ישפיע על אפשרויות התעסוקה שלך בעתיד. תהליך הבחירה
הינו מורכב, הן מכיוון שישנן הצעות עבודה רבות בשוק העשויות להיראות לך מעניינות,
והן מכיוון שעליך להתחרות במועמדים אחרים על קבלת המשרה. </span><br/><span
        style="font-family: arial, helvetica, sans-serif;">
בכדי להתמודד עם המשימה המורכבת של בחירת המשרה המתאימה לך ביותר, חילקנו את תהליך
קבלת ההחלטה למספר שלבים אשר יסייעו לך:</span><br/>
<br/>
<strong><span style="color: #008000;"><span style="font-family: arial, helvetica, sans-serif;">סריקה וסינון ראשוני לאיתור מקומות עבודה "מבטיחים"</span></span><br/>
</strong><span style="font-family: arial, helvetica, sans-serif;">עולם העבודה מציע סוגים שונים ומגוונים של משרות בכל מקצוע ומקצוע. כדאי לבדוק
כמה שיותר משרות שיכולות להיות רלוונטיות לגביך, בכדי לפתוח בפניך כמה שיותר
אפשרויות. למרות שאין צורך לשלוח קורות חיים לכל המשרות הפנויות הקיימות בתחום שלך,
כדאי לנסות להתקבל לעבודה בכמה מקומות במקביל. כדי לא להתפזר יותר מדי ולהגיש
מועמדות לכל הצעת עבודה בתחום, מומלץ לעשות סינון ראשוני, בסופו תקבל רשימה
מצומצמת של משרות המתאימות להעדפותיך ולנתוניך.</span><br/><span style="font-family: arial, helvetica, sans-serif;">
בשלב הסינון הראשוני המטרה היא למחוק מרשימת המשרות האפשריות את אותן משרות שאינן
מתאימות לך, בשני מובנים:</span></span></p>
<p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/>
א. עליך להגדיר מהם השיקולים הבסיסיים החשובים לך ביותר במשרה אותה אתה מחפש,
ולמחוק מן הרשימה משרות שאינן מתאימות להעדפותיך בשיקולים אלה, על פי מה שידוע לך
ממודעת הדרושים או המידע הראשוני המצוי ברשותך לגבי אותה משרה. <br/>
<span style="text-decoration: underline;">רשימת השיקולים הראשונית עשויה לכלול שיקולים כמו:</span></span></p>
<table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
    <tbody>
    <tr>
        <td valign="top" width="42">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
        </td>
        <td valign="top" width="100%">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;">האם משרה זו מתאימה לתחום המקצועי
  שלי?</span></p>
        </td>
    </tr>
    <tr>
        <td valign="top" width="42">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
        </td>
        <td valign="top" width="100%">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;">האם היקף המשרה (מלאה או חלקית)
  ושעות העבודה מתאימים לי?</span></p>
        </td>
    </tr>
    <tr>
        <td valign="top" width="42">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
        </td>
        <td valign="top" width="100%">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;">מהו המיקום של מקום העבודה והאם
  חשוב לי המרחק ממקום מגוריי?<ins datetime="2014-08-25T16:28" cite="mailto:edu"></ins></span></p>
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
        </td>
    </tr>
    </tbody>
</table>
<p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;">ב. עליך למחוק מן הרשימה משרות שנתוניך אינם מתאימים לדרישות הקבלה הנדרשות
בהן (למשל: תואר שני במנהל עסקים, או שפה כלשהי ברמת שפת אם).<br/>
<br/>
עבור שיקול אחר שיקול לאורך כל המשרות, ומחק את המשרות שאינן מתאימות.<br/>
בסיום שלב זה תראה לנגד עיניך רשימת משרות "מבטיחות" (כלומר,
"שוות" המשך בדיקה). ייתכן שיש לך כעת רשימה מצומצמת מספיק ואז אתה יכול
לשלוח קורות חיים לכל המשרות שנותרו. לעומת זאת, אם הרשימה עודנה ארוכה &ndash; עליך
להמשיך ולצמצם אותה.</span></p>
<p dir="RTL"><span><span style="font-family: arial, helvetica, sans-serif;">השלב הבא יעזור לך לצמצם את הרשימה ולסדר אותה לפי סדר עדיפויות, כך שאם
תתקבל ליותר ממשרה אחת, תוכל לבחור בקלות את החלופה המועדפת עליך.</span><br/>
<br/>
<strong><span style="color: #008000;"><span style="font-family: arial, helvetica, sans-serif;">צלילה לעומק רשימת המשרות ה"מבטיחות" </span></span><br/>
</strong><span style="font-family: arial, helvetica, sans-serif;">להבדיל מהסינון הראשוני, בשלב זה מתבצעת השוואה בין המשרות בצורה מפורטת בעזרת
רשימה מורחבת של שיקולים.</span></span></p>
<p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;">בהחלטה מורכבת כמו בחירת מקום עבודה נלקחים שיקולים רבים בחשבון. כדי להקל
על תהליך הבחירה, הבהר לעצמך אילו שיקולים חשובים לך במיוחד בהחלטה זו ואילו
שיקולים חשובים לך פחות.<br/>
<br/>
<a href="http://kivunim.huji.ac.il/sachlav31.html">דוגמה לרשימת השיקולים המורחבת</a></span></p>
<p dir="RTL"><span><br/><span style="font-family: arial, helvetica, sans-serif;">
בחיים בכלל ובתהליך חיפוש העבודה בפרט עליך להיות מודע לכך שלא קיימת חלופה אידיאלית
ומושלמת ולכן עליך להיות מוכן להתפשרויות. כדי להתכונן לכך בצורה הטובה ביותר, הבהר
לעצמך מראש מהם הדברים החשובים לך ביותר, עליהם אינך מוכן להתפשר, ומהם הדברים
שלגביהם תהיה מוכן להתגמש. </span><br/><span style="font-family: arial, helvetica, sans-serif;">
למשל, מקום עבודה עשוי להיות מרוחק מביתך, אך להציע סביבת עבודה נעימה וכן יחסי
עובד-מעביד טובים. במקרה כזה יהיה עליך להחליט עד כמה חשוב כל אחד מהשיקולים
עבורך. האם שיקול המיקום הגיאוגרפי חשוב מאוד עבורך או שאתה מוכן להתגמש בנושא זה
לטובת השיקולים האחרים. </span><br/>
<br/><span style="font-family: arial, helvetica, sans-serif;">
כעת יש לך רשימה מצומצמת של
משרות מדורגת לפי סדר העדפותיך.</span><br/>
<br/>
<strong><span style="color: #008000;"><span style="font-family: arial, helvetica, sans-serif;">קבלת ההחלטה</span></span><br/>
</strong><span style="font-family: arial, helvetica, sans-serif;">תהליך בחירת המשרה הינו שונה ממצבי קבלת החלטות אחרים משום שבשלב הראשון אינך
צריך להגיע להחלטה לגבי משרה אחת ויחידה, אלא לנסות ולהתקבל למספר משרות אותן מצאת
כמתאימות לך. </span><br/><span style="font-family: arial, helvetica, sans-serif;">
מה שיקבע בסופו של דבר היכן תעבוד הן התשובות שתקבל ממקומות העבודה השונים אליהם
פנית. מאחר שדירגת את המשרות לפי סדר העדיפויות שלך בשלב הקודם, קבלת ההחלטה
הסופית צריכה להיות מהלך פשוט: בהתאם לתשובות החיוביות שתקבל ממקומות העבודה, תוכל
לבחור את המשרה שדרגת בעדיפות הגבוהה ביותר ברשימתך.</span><br/><span style="font-family: arial, helvetica, sans-serif;">
ייתכנו שלושה מצבים:</span><br/><span style="font-family: arial, helvetica, sans-serif;">
1. מצב של וודאות מלאה, שבו אתה מקבל תשובה
חיובית למשרות בהן אתה מעוניין ואז תוכל לבחור את המשרה שדירגת בעדיפות הגבוהה
ביותר ברשימתך.</span><br/><span style="font-family: arial, helvetica, sans-serif;">
2. מצב של אי וודאות, בו לא קיבלת תשובה מאף
מקום עבודה, או שקיבלת תשובה שלילית מחלק ממקומות העבודה, ואז כל שעליך לעשות
בינתיים הוא להמתין.</span><br/><span style="font-family: arial, helvetica, sans-serif;">
3. אי וודאות לגבי אחת מהמשרות &ndash; המועדפת יותר. אתה
עשוי להיתקל במצב בו התקבלת למשרה מסוימת ואתה צריך להודיע אם אתה אכן מעוניין בה,
אך הנך ממתין עדיין לתשובה ממשרה אטרקטיבית יותר בעיניך. במקרה כזה אתה צריך לחשוב
אם אתה מעוניין לאשר את קבלתך למקום עבודה מסוים לפני שקיבלת תשובה ממקום אחר.
במצב כזה כדאי לחפש מידע מהמעביד המועדף שיוכל לצמצם את אי הודאות: אתה יכול לנסות
לברר מהו טווח הזמן הצפוי לתשובה, לברר את סיכויי קבלתך, וכן לנסות
"למשוך" זמן במסירת האישור למשרה שממנה קיבלת תשובה חיובית.</span></span></p>
<p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
<p dir="RTL"><strong><span style="font-family: arial, helvetica, sans-serif;">מידע נוסף על חיפוש עבודה ותהליך הגשת מועמדות</span></strong>
</p>
<table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
    <tbody>
    <tr>
        <td valign="top" width="42">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
        </td>
        <td valign="top" width="100%">
            <p dir="RTL"><a href="http://kivunim.huji.ac.il/next/job-cv.html"><span
                    style="font-family: arial, helvetica, sans-serif;">כתיבת קורות חיים</span></a></p>
        </td>
    </tr>
    <tr>
        <td valign="top" width="42">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
        </td>
        <td valign="top" width="100%">
            <p dir="RTL"><a href="http://kivunim.huji.ac.il/next/job-open.html"><span
                    style="font-family: arial, helvetica, sans-serif;">איפה מוצאים מידע לגבי משרות פנויות?</span></a>
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top" width="42">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
        </td>
        <td valign="top" width="100%">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><a
                    href="http://kivunim.huji.ac.il/next/job-ready.html">הכנה לקראת ריאיו</a><a
                    href="http://kivunim.huji.ac.il/next/job-ready.html">ן העבודה</a></span></p>
        </td>
    </tr>
    <tr>
        <td valign="top" width="42">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
        </td>
        <td valign="top" width="100%">
            <p dir="RTL"><a href="http://kivunim.huji.ac.il/next/job-ready2.html"><span
                    style="font-family: arial, helvetica, sans-serif;">הכנה לקראת מבחני מיון</span></a></p>
        </td>
    </tr>
    <tr>
        <td valign="top" width="42">
            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><br/></span></p>
        </td>
        <td valign="top" width="100%">
            <p dir="RTL"><a href="http://kivunim.huji.ac.il/next/job-center.html"><span
                    style="font-family: arial, helvetica, sans-serif;">הכנה למרכזי ההערכה</span></a></p>
        </td>
    </tr>
    </tbody>
</table>
<br/></span></div>
                <p>&nbsp;</p>


            </div>

        </div>
{% endblock %}