{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>מה תמצא כאן?</h1>


            </div>


            <div class="menu-right">

                <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מחפשים כיוונים לעתיד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process_what_to_study"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מה כדאי ללמוד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_to_decide.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">למה חשוב להשקיע בהחלטה? </span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_instruction.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text-selected" style="font-size: medium">מה תמצא כאן?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_levels.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">שלבים מומלצים לתהליך</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_planning.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">תכנן ביקור נוסף </span></a></td>
                    </tr>
                </table>


            </div>

            <div class="page-content">
                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><strong>כיוונים לעתיד</strong> מציע לך, בין היתר:</span></span>
                </p>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <ul>
                                <li><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: medium;">הדרכה בשלבים המומלצים
  בתהליך בחירת תחום הלימודים והמקצוע </span><span style="font-size: medium;">(סחל"ב)</span></span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <ul>
                                <li><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: medium;">שאלונים אינטראקטיביים עם
  משוב מיידי והמלצות המתאימות לך אישית - לבירור השלב בתהליך ההחלטה בו הנך
  נמצא/ת, הקשיים המעכבים אותך בהתקדמות בתהליך ההחלטה, סגנון קבלת ההחלטות שלך</span><span style="font-size: medium;">
  </span><span style="font-size: medium;">ועוד <span style="text-decoration: underline;">(</span><span
                                        style="text-decoration: underline;">בחן את עצמך</span><span
                                        style="text-decoration: underline;">)</span></span></span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <ul>
                                <li><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: medium;">&nbsp; טיפים שיסייעו לך בבח</span><span
                                        style="font-size: medium;">ירה (טיפים)</span></span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="4">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="550">
                            <ul>
                                <li><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: medium;">&nbsp; מידע ממוקד על לימודים
  אקדמיים, תיאורי מקצוע, הבחינה הפסיכומטרית, סיכויי קבלה, מכינה קדם אקדמית,
  מלגות, וקישורים למקורות מידע, סיוע, וייעוץ באינטרנט ומחוצה לו (</span><a target="_blank"
                                                                           href="../page.aspx?id=24&amp;hmenu=6"
                                                                           style="font-family: arial, helvetica, sans-serif; font-size: medium;">מה
                                    הלאה?</a><span style="font-size: medium;">)</span></span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>

        </div>
{% endblock %}