{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>מה כדאי ללמוד?</h1>


            </div>


            <div class="menu-right">

                <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מחפשים כיוונים לעתיד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process_what_to_study"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text-selected" style="font-size: medium">מה כדאי ללמוד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_to_decide.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">למה חשוב להשקיע בהחלטה? </span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_instruction.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מה תמצא כאן?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_levels.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">שלבים מומלצים לתהליך</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_planning.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">תכנן ביקור נוסף </span></a></td>
                    </tr>
                </table>


            </div>

            <div class="page-content">
                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">כמובן, אין תשובה חד משמעית. זה תלוי בך. <br/>אנשים שונים בוחרים תחום
	לימודים לפי השיקולים השונים החשובים להם. <br/><strong><br/><span style="color: #339966;">
	מקצוע מושלם? חבל שאין דבר כזה...</span><br/></strong><br/>
	אחת האמונות שמקשות על צעירים רבים בתהליך בחירת תחום הלימודים והמקצוע <br/>היא שיש אי
	שם מקצוע מושלם עבורם. <br/>כמובן שישנם מקצועות שיתאימו לך יותר וכאלה שיתאימו פחות,
	<br/>אבל בכל מקצוע קיימים חסרונות - וחשוב שתכיר בכך. <br/>כמו בכל החלטה בחיים גם במקרה
	הזה, לרוב אין ברירה אלא להתפשר, <br/>אך חשוב לעשות זאת במקומות הנכונים.<br/>
	<br/>חשוב לזכור שתחום לימודים מסוים יכול להוביל למספר עיסוקים; <br/>למשל, לימודי חשבונאות יכולים להוביל לראיית חשבון, ייעוץ מס, להיות חשב, ועוד. <br/>מצד שני ניתן להגיע לאותו עיסוק
	מכמה תחומי לימוד. <br/>למשל, לייעוץ פיננסי מתוך לימודי כלכלה, חשבונאות ומנהל עסקים.<br/><br/></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><strong><span style="color: #339966;">בחירת
	תחום לימודים ומקצוע - לכל החיים???<br/></span><br/>
                </strong>נכון,
	הבחירה בתחום הלימודים והמקצוע היא בחירה משמעותית שתהיה לה השפעה נרחבת על חייך, <br/>אך
	לא מדובר בהחלטה בלתי הפיכה. <br/>אנשים רבים מתחילים לעסוק בתחום מסוים ועם השנים והניסיון
	משנים את נתיב הקריירה שלהם. <br/>גם המסלול האקדמי שנבחר נתון לשינויים - ניתן להחליף
	את חוג הלימודים לאחר השנה הראשונה, וגם לאחר מכן. <br/>הדבר כמובן כרוך בהפסד כסף וזמן
	ולכן מומלץ לעשות מאמץ כדי להימנע ממנו עד כמה שניתן.</span></span></p>


            </div>

        </div>
{% endblock %}