{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1> למה חשוב להשקיע בהחלטה? </h1>


            </div>


            {% set selected = 3 %}
            {% include "partials/side_menu.html" with  path%}

            <div class="page-content" style="margin-right: 271px;">
                <p style="text-align: right;" dir="RTL"><span style="font-size: medium;"><span
                        style="color: #339966;"><strong><span style="font-family: arial, helvetica, sans-serif;">(כי על טעויות משלמים,
		וביוקר!)</span></strong></span></span></p>

                <p style="text-align: right;" dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">קבלת החלטה על תחום
		לימודים היא חשובה במיוחד, <br/>ולכן מומלץ לך לנסות לבטא את העדפותיך ושאיפותיך,
		ולהשקיע בכך מחשבה. <br/>בראש ובראשונה מומלץ להשקיע בתהליך מכיוון שלהפסקת לימודים או
		להחלפת חוג לימודים יש מחיר. <br/>ראשית, מחיר כלכלי, שכן עלות שנת לימודים (כולל הפסד
		הכנסה) מוערכת בכ- 50 אלף שקלים. <br/>שנית, מחיר רגשי, שכן הפסקת הלימודים או החלפת
		חוג מלווה לעתים בחרטה ואף תסכול. <br/>ולבסוף, מדובר בדרך כלל ב"הפסד של
		שנה" או הארכת התואר בשנה נוספת.<strong></strong></span></span></p>
                <strong><span style="font-family: arial, helvetica, sans-serif;">
		</span>

                    <div style="text-align: right;"><strong><span style="font-size: medium;"><span
                            style="font-family: arial, helvetica, sans-serif;">ולכן, אל תדחה את ההחלטה לרגע
		האחרון</span></span></strong></div>
                </strong>


            </div>


        </div>
{% endblock %}