{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="content">

        <div class="page-contact-title">

            <h1>מחפשים כיוונים לעתיד?</h1>


        </div>


        <div class="menu-right">

            <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                <tr>
                    <td class="menu-right-td"><a href="kl4_process"
                                                 style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text-selected" style="font-size: medium">מחפשים כיוונים לעתיד?</span></a>
                    </td>
                </tr>
                <tr>
                    <td class="menu-right-td" style="font-size: medium"><a
                            href="{{path}}/kl4_process_what_to_study"
                            style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                style="font-size: medium">מה כדאי ללמוד?</span></a>
                    </td>
                </tr>
                <tr>
                    <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_to_decide.html"
                                                 style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text" style="font-size: medium">למה חשוב להשקיע בהחלטה? </span></a></td>
                </tr>
                <tr>
                    <td class="menu-right-td" style="font-size: medium"><a
                            href="http://kivunim.huji.ac.il/kl4/kl4_process_instruction.html"
                            style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                style="font-size: medium">מה תמצא כאן?</span></a>
                    </td>
                </tr>
                <tr>
                    <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_levels.html"
                                                 style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text" style="font-size: medium">שלבים מומלצים לתהליך</span></a></td>
                </tr>
                <tr>
                    <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_planning.html"
                                                 style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text" style="font-size: medium">תכנן ביקור נוסף </span></a></td>
                </tr>
            </table>


        </div>

        <div class="page-content" style="margin-right: 271px;">

            <p style="text-align: right;"><span style="font-size: small;"><span
                    style="font-family: arial, helvetica, sans-serif;">
        <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">אם כן - אתם בחברה טובה: בסקר שנערך בקרב כ-10,000 גולשים ב<b>כיוונים
            לעתיד</b>, יותר מ-93 אחוזים דיווחו שקשה להם לקבל החלטה לגבי תחום לימודים
	ומקצוע. מטרת <b>כיוונים לעתיד</b> היא לתת לך כלים לקבלת ההחלטה
	הטובה ביותר עבורך. כלים אלו מבוססים על מגוון מחקרים שנערכו בארץ ובעולם, ועל
	ניסיון שהצטבר במרכזי ייעוץ אישי בבחירת מקצוע.&nbsp;</span></span></p>
            </p>

            <ol>

            </ol>


        </div>


    </div>
{% endblock %}