{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>תכנן ביקור נוסף</h1>


            </div>


            {% set selected = 6 %}
            {% include "partials/side_menu.html" with  path%}

            <div class="page-content">
                <div style="text-align: right;"><span style="font-size: medium;"><span><strong><span
                        style="font-family: arial, helvetica, sans-serif;">השאל</span><span
                        style="font-family: arial, helvetica, sans-serif;">ונים והמשוב של השאלונים בהם השתמשת נשמרים באזור האישי, ולכן
מומלץ להרשם.</span></strong><span style="font-family: arial, helvetica, sans-serif;"><br/>
</span></span>
<p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><strong>כיוונים
    לעתיד </strong>הוא אתר המכיל מידע רב. <br/>לכן, מומלץ לחזור ולבקר בו מספר פעמים, וכך
להגיע לכל המידע הרלוונטי עבורכם. <br/>
בפרט, מומלץ למלא את כל השאלונים הנמצאים ב<a target="_blank" href="../page.aspx?id=4&amp;hmenu=4">מי אני?</a>- אך לא את כולם
ביום אחד. <br/>בקרו שוב בימים הקרובים - מבטיחים שנישאר פה...</span></p>
</span></div>


            </div>

        </div>
{% endblock %}