{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>מה תמצא כאן?</h1>


            </div>


            {% set selected = 4 %}
            {% include "partials/side_menu.html" with  path%}

            <div class="page-content">
                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><strong>כיוונים לעתיד</strong> מציע לך, בין היתר:</span></span>
                </p>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <ul>
                                <li><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: medium;">הדרכה בשלבים המומלצים
  בתהליך בחירת תחום הלימודים והמקצוע </span><span style="font-size: medium;">(סחל"ב)</span></span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <ul>
                                <li><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: medium;">שאלונים אינטראקטיביים עם
  משוב מיידי והמלצות המתאימות לך אישית - לבירור השלב בתהליך ההחלטה בו הנך
  נמצא/ת, הקשיים המעכבים אותך בהתקדמות בתהליך ההחלטה, סגנון קבלת ההחלטות שלך</span><span style="font-size: medium;">
  </span><span style="font-size: medium;">ועוד <span style="text-decoration: underline;">(</span><span
                                        style="text-decoration: underline;">בחן את עצמך</span><span
                                        style="text-decoration: underline;">)</span></span></span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <ul>
                                <li><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: medium;">&nbsp; טיפים שיסייעו לך בבח</span><span
                                        style="font-size: medium;">ירה (טיפים)</span></span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="4">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="550">
                            <ul>
                                <li><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: medium;">&nbsp; מידע ממוקד על לימודים
  אקדמיים, תיאורי מקצוע, הבחינה הפסיכומטרית, סיכויי קבלה, מכינה קדם אקדמית,
  מלגות, וקישורים למקורות מידע, סיוע, וייעוץ באינטרנט ומחוצה לו (</span><a target="_blank"
                                                                           href="../page.aspx?id=24&amp;hmenu=6"
                                                                           style="font-family: arial, helvetica, sans-serif; font-size: medium;">מה
                                    הלאה?</a><span style="font-size: medium;">)</span></span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>

        </div>
{% endblock %}