{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>תכנן ביקור נוסף</h1>


            </div>


            <div class="menu-right">

                <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מחפשים כיוונים לעתיד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process_what_to_study"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מה כדאי ללמוד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_to_decide.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">למה חשוב להשקיע בהחלטה? </span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_instruction.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מה תמצא כאן?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_levels.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">שלבים מומלצים לתהליך</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_planning.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text-selected" style="font-size: medium">תכנן ביקור נוסף </span></a></td>
                    </tr>
                </table>


            </div>

            <div class="page-content">
                <div style="text-align: right;"><span style="font-size: medium;"><span><strong><span
                        style="font-family: arial, helvetica, sans-serif;">השאל</span><span
                        style="font-family: arial, helvetica, sans-serif;">ונים והמשוב של השאלונים בהם השתמשת נשמרים באזור האישי, ולכן
מומלץ להרשם.</span></strong><span style="font-family: arial, helvetica, sans-serif;"><br/>
</span></span>
<p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><strong>כיוונים
    לעתיד </strong>הוא אתר המכיל מידע רב. <br/>לכן, מומלץ לחזור ולבקר בו מספר פעמים, וכך
להגיע לכל המידע הרלוונטי עבורכם. <br/>
בפרט, מומלץ למלא את כל השאלונים הנמצאים ב<a target="_blank" href="../page.aspx?id=4&amp;hmenu=4">מי אני?</a>- אך לא את כולם
ביום אחד. <br/>בקרו שוב בימים הקרובים - מבטיחים שנישאר פה...</span></p>
</span></div>


            </div>

        </div>
{% endblock %}