{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>שלבים מומלצים לתהליך</h1>


            </div>


            <div class="menu-right">

                <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מחפשים כיוונים לעתיד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process_what_to_study"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מה כדאי ללמוד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_to_decide.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">למה חשוב להשקיע בהחלטה? </span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_instruction.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מה תמצא כאן?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_levels.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text-selected" style="font-size: medium">שלבים מומלצים לתהליך</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_planning.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">תכנן ביקור נוסף </span></a></td>
                    </tr>
                </table>


            </div>

            <div class="page-content" style="margin-right: 271px;>
        <p dir=" RTL
            "><strong><span style="color: #339966;"><span style="font-family: arial, helvetica, sans-serif;"><br/><span
                style="font-size: medium;"><span style="color: #339966;"><span
                style="color: #339966; font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;"><a
                href="#סחלב">סחל"ב זה לא רק פרח... השלבים בקבלת ההחלטה<br/><br/></a></span><span
                style="color: #339966; font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;"><a
                href="#מה קודם">מה קודם למה? בחירת תחום הלימודים, בחירת המקצוע, או המוסד?<br/></a><br/><a
                href="#מה חשוב לי בעבודה"><span
                style="color: #339966; font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;">חשוב במונחים של "מה חשוב לי בעבודה?" ולא "מה אני רוצה להיות?"</span><br/></a></span><a
                href="#מה חשוב לי בעבודה"><br/></a><span
                style="color: #339966; font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;"><a
                href="#המקצועות המבוקשים">מה ניתן ללמוד מ"רשימת המקצועות
            המבוקשים"?<br/><br/><br/></a></span><br/><br/><a
                name="סחלב"></a>סחל"ב זה לא רק פרח... השלבים בקבלת ההחלטה</span></span></span></span></strong></p>
            <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">בחירת
תחום לימודים ומקצוע היא משימה מורכבת. <br/>הקושי לקבל החלטה נובע, בין היתר, מהמספר
הרב של האפשרויות שניתן לבחור ביניהן, <br/>ומהשיקולים הרבים שצריך לקחת בחשבון. <br/>לכן,
מומלץ לבצע את קבלת ההחלטה על פי חלוקה לשלבים מוגדרים ונפרדים <br/>שיקלו עליך לבצע את
ההחלטה:<br/><br/>
1. השלב הראשון&nbsp; &ndash; <strong>ס</strong>ינון ראשוני: אתר רשימה קצרה של תחומי לימוד
ומקצועות "מבטיחים", <br/>&nbsp; &nbsp; ע"פ&nbsp;השיקולים החשובים לך.<br/><br/>
2. השלב השני &ndash; <strong>ח</strong>קירה <strong>ל</strong>עומק: בחן אילו מהמקצועות
ה"מבטיחים" גם "מקיימים", <br/>&nbsp; &nbsp; כלומר, אכן מתאימים לך. <br/><br/>
3. השלב השלישי&nbsp;&ndash; <strong>ב</strong>חירה: השווה בין החלופות האפשריות, בחר את החלופה
המתאימה לך ביותר, <br/>&nbsp; &nbsp; ודרג את העדיפות לחלופות אחרות.<br/>
<br/>פירוט על תהליך קבלת החלטות לפי מודל הסחל"ב ניתן למצוא <a
                        href="http://kivunim.huji.ac.il/sachlav.html">כאן</a>. <br/>
<br/>
<strong></strong></span></span></p>

            <p dir="RTL"><span style="font-size: medium;"><span
                    style="font-family: arial, helvetica, sans-serif;"><strong><span style="color: #339966;"><a
                    name="מה קודם"></a>מה קודם למה? בחירת תחום הלימודים, בחירת המקצוע, או המוסד?<br/><br/></span>
            </strong>מדוע
ההחלטה מה ללמוד ובאיזה מקצוע לבחור היא החלטה כל כך קשה? <br/>בין היתר משום שלמעשה
מדובר בשלוש החלטות שונות שצריך לקבל: <br/>מה ללמוד? היכן ללמוד? ובאיזה מקצוע לבחור?</span></span></p>

            <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">שלוש
החלטות אלה כמובן קשורות זו בזו, אך לא תמיד: <br/>יש מקצועות אליהם ניתן להגיע מחוג מסוים
בלבד ואחרים ממספר חוגים, <br/>יש תחומי לימוד אותם ניתן ללמוד במוסדות מסוימים ולא
באחרים ויש תחומי לימוד שקיימים כמעט בכל מוסד וכו'. <br/>
חלוקת ההחלטה לשלושה חלקים נפרדים, וההתמודדות עם כל שאלה בנפרד <br/>עשויות לסייע בקבלת
החלטה מושכלת, מהירה ויעילה יותר.<br/><br/>
-&nbsp; ראשית, עליך להחליט מהו המקצוע בו אתה מעוניין לעסוק.<br/>
-&nbsp; שנית, יש לברר מהו תחום הלימודים המתאים למקצוע בו ברצונך לעסוק.<br/>
-&nbsp; לאחר מכן כדאי לברר היכן ניתן ללמוד זאת, ולאתר את המוסד המתאים ביותר
עבורך.<br/><br/>
אם מדובר בתחום הנלמד במסגרת לימודים אקדמיים, מומלץ לפנות ל<a href="http://www.meidaat.co.il/" target="_blank">מידעת</a> (השירות חינם), <br/>אם אתה שוקל לימודים במכללה
מומלץ לבקר ב<a href="http://www.michlalot.co.il/" target="_blank">פורטל מכללות</a> ובעמוד הייעוץ בנושא <a
                        href="http://kivunim.huji.ac.il/next/college1.html" target="_blank">"אוניברסיטה או
                    מכללה?"</a></span></span></p>

            <p dir="RTL"><span style="font-size: medium;"><span
                    style="font-family: arial, helvetica, sans-serif;"><strong><span style="color: #339966;"><br/><a
                    name="מה חשוב לי בעבודה"></a>חשוב במונחים של "מה חשוב לי
בעבודה?" ולא "מה אני רוצה להיות?"<br/></span></strong><br/>
מגיל צעיר, אנו מורגלים לשאלה: "מה אתה רוצה להיות כשתהיה גדול?". <br/>לכן,
לא מפתיע שצעירים רבים המגיעים לשלב בחירת מסלול הלימודים חושבים במונחים של
מקצועות - <br/>מה אני רוצה להיות? פסיכולוג? כלכלנית? עורך דין? פילוסופית? וכו'. <br/>אנו
מציעים לכם לחשוב על שאלה זו מזווית שונה: לא "מה אני רוצה להיות" אלא
"<strong>מה חשוב לי בעבודה?</strong>" <br/>האם חשובה לכם עבודה עם קהל? עבודה עם מספרים?
שימוש בכושר אומנותי? וכו'... <br/><br/>מחקרים שנערכו בנושא מצאו כי חשיבה כזו, במונחי
"שיקולים" מובילה לשביעות רצון גבוהה יותר מהמקצוע הנבחר.<br/>
השיקולים שמומלץ לקחת בחשבון בעת בחירת תחום לימודים ומקצוע הם מגוונים ונוגעים
למאפיינים שונים של העבודה, <br/>למשל: משך הכשרה, סביבת עבודה, אפשרויות קידום, יוקרה
וכו'. <br/>אנו ממליצים לעיין ברשימת 31 השיקולים המופיעה <a
                        href="http://kivunim.huji.ac.il/sachlav31.html">כאן</a>. <br/>כמובן שלכל אחד יכולים להיות שיקולים
שונים, ולכן מומלץ להתחיל את התהליך מהשיקול החשוב ביותר ברשימה עבורך <br/>ולהתקדם
הלאה אל השיקולים הפחות חשובים.</span></span></p>

            <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">כמו כן, קיימות מערכות ממוחשבות המסייעות בשלב הסינון
הראשוני של המקצועות <br/>תוך התחשבות בכל השיקולים שיש לקחת בחשבון. כזו היא מערכת <a href="http://mivdak.yoram.co.il/"
                                                                                    target="_blank">המבדק</a> </span></span>
            </p>

            <p dir="RTL"><span style="font-size: medium;"><span
                    style="font-family: arial, helvetica, sans-serif;"><strong><span style="color: #339966;"><a
                    name="המקצועות המבוקשים"></a>מה ניתן ללמוד מ"רשימת המקצועות המבוקשים"?<br/></span><br/>
            </strong>התשובה
היא - כנראה כלום! מדי פעם בפעם מתפרסמת באמצעי התקשורת "רשימת המקצועות
המבוקשים". <br/>לרוב, רשימה זו מתפרסמת לקראת פתיחת ההרשמה לאוניברסיטאות
ולמכללות, <br/>מתוך מחשבה שהמתלבטים עשויים להיעזר בה בתהליך בחירתם. <br/>אבל, האמת היא
שלרשימה זו אין כל ערך אינפורמטיבי עבור המתלבטים; <br/>הידיעה כי מקצוע
מסוים זכה לפופולאריות גבוהה או נמוכה אינה מלמדת דבר על התאמת המקצוע עבורך.
<br/>ביקוש גבוה לתחום לימודים עשוי דווקא "לשחק" לרעת הנרשמים משום שהוא
עלול להעלות את רף הקבלה. <br/>בנוסף, שוק העבודה מתאפיין בדינמיות רבה ולכן קשה לצפות
את השינויים שיחולו בו. <br/>לפיכך, גם אי אפשר לבקש לצפות את הסיכוי למצוא עבודה
במקצוע הפופולארי בעתיד על סמך היותו פופולארי ומבוקש בהווה.&nbsp;</span></span></p>


        </div>
{% endblock %}