{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1> למה חשוב להשקיע בהחלטה? </h1>


            </div>


            <div class="menu-right">

                <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מחפשים כיוונים לעתיד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="kl4_process_what_to_study"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מה כדאי ללמוד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_to_decide.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text-selected"
                                style="font-size: medium">למה חשוב להשקיע בהחלטה? </span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_instruction.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">מה תמצא כאן?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_levels.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">שלבים מומלצים לתהליך</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_process_planning.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">תכנן ביקור נוסף </span></a></td>
                    </tr>
                </table>


            </div>

            <div class="page-content" style="margin-right: 271px;">
                <p style="text-align: right;" dir="RTL"><span style="font-size: medium;"><span
                        style="color: #339966;"><strong><span style="font-family: arial, helvetica, sans-serif;">(כי על טעויות משלמים,
		וביוקר!)</span></strong></span></span></p>

                <p style="text-align: right;" dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">קבלת החלטה על תחום
		לימודים היא חשובה במיוחד, <br/>ולכן מומלץ לך לנסות לבטא את העדפותיך ושאיפותיך,
		ולהשקיע בכך מחשבה. <br/>בראש ובראשונה מומלץ להשקיע בתהליך מכיוון שלהפסקת לימודים או
		להחלפת חוג לימודים יש מחיר. <br/>ראשית, מחיר כלכלי, שכן עלות שנת לימודים (כולל הפסד
		הכנסה) מוערכת בכ- 50 אלף שקלים. <br/>שנית, מחיר רגשי, שכן הפסקת הלימודים או החלפת
		חוג מלווה לעתים בחרטה ואף תסכול. <br/>ולבסוף, מדובר בדרך כלל ב"הפסד של
		שנה" או הארכת התואר בשנה נוספת.<strong></strong></span></span></p>
                <strong><span style="font-family: arial, helvetica, sans-serif;">
		</span>

                    <div style="text-align: right;"><strong><span style="font-size: medium;"><span
                            style="font-family: arial, helvetica, sans-serif;">ולכן, אל תדחה את ההחלטה לרגע
		האחרון</span></span></strong></div>
                </strong>


            </div>


        </div>
{% endblock %}