{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>מה כדאי ללמוד?</h1>


            </div>


            {% set selected = 2 %}
            {% include "partials/side_menu.html" with  path%}

            <div class="page-content">
                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">כמובן, אין תשובה חד משמעית. זה תלוי בך. <br/>אנשים שונים בוחרים תחום
	לימודים לפי השיקולים השונים החשובים להם. <br/><strong><br/><span style="color: #339966;">
	מקצוע מושלם? חבל שאין דבר כזה...</span><br/></strong><br/>
	אחת האמונות שמקשות על צעירים רבים בתהליך בחירת תחום הלימודים והמקצוע <br/>היא שיש אי
	שם מקצוע מושלם עבורם. <br/>כמובן שישנם מקצועות שיתאימו לך יותר וכאלה שיתאימו פחות,
	<br/>אבל בכל מקצוע קיימים חסרונות - וחשוב שתכיר בכך. <br/>כמו בכל החלטה בחיים גם במקרה
	הזה, לרוב אין ברירה אלא להתפשר, <br/>אך חשוב לעשות זאת במקומות הנכונים.<br/>
	<br/>חשוב לזכור שתחום לימודים מסוים יכול להוביל למספר עיסוקים; <br/>למשל, לימודי חשבונאות יכולים להוביל לראיית חשבון, ייעוץ מס, להיות חשב, ועוד. <br/>מצד שני ניתן להגיע לאותו עיסוק
	מכמה תחומי לימוד. <br/>למשל, לייעוץ פיננסי מתוך לימודי כלכלה, חשבונאות ומנהל עסקים.<br/><br/></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><strong><span style="color: #339966;">בחירת
	תחום לימודים ומקצוע - לכל החיים???<br/></span><br/>
                </strong>נכון,
	הבחירה בתחום הלימודים והמקצוע היא בחירה משמעותית שתהיה לה השפעה נרחבת על חייך, <br/>אך
	לא מדובר בהחלטה בלתי הפיכה. <br/>אנשים רבים מתחילים לעסוק בתחום מסוים ועם השנים והניסיון
	משנים את נתיב הקריירה שלהם. <br/>גם המסלול האקדמי שנבחר נתון לשינויים - ניתן להחליף
	את חוג הלימודים לאחר השנה הראשונה, וגם לאחר מכן. <br/>הדבר כמובן כרוך בהפסד כסף וזמן
	ולכן מומלץ לעשות מאמץ כדי להימנע ממנו עד כמה שניתן.</span></span></p>


            </div>

        </div>
{% endblock %}