{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>מכינות</h1>


            </div>


            {% set selected = 4 %}
            {% include "partials/side_menu.html" with  path%}


            <div class="page-content" style="margin-right: 271px;">
                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><br/><span
                        style="font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;"><a
                        href="#1">מי יכול ללמוד במכינה?</a><br/></span><span
                        style="font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;"><a
                        href="#2">מה עליך לעשות כדי ללמוד במכינה?</a><br/><span
                        style="font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;"><a
                        href="#3">אילו מסלולי לימוד קיימים?</a><br/></span><span
                        style="font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;"><a
                        href="#4">סיוע במימון הלימודים ודמי קיום</a><br/></span><span
                        style="font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;"><a
                        href="#5">מידע נוסף על לימודים קדם-אקדמיים</a></span><br/></span><br/><br/>המכינות הקדם-אקדמיות נועדו להכשיר סטודנטים לעתיד
ללימודים אקדמיים במוסדות להשכלה גבוהה.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">מטרת המכינות היא להגביר את סיכויי הקבלה ללימודים
באוניברסיטאות ובמכללות. לעתים ההישגים הלימודיים במכינה מהווים תחליף להישגים
בתעודת הבגרות. </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">מומלץ לבדוק מראש במוסד המבוקש בתעודות של אילו
מכינות הוא מכיר ובאילו לא.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">כמו כן, רצוי לבדוק את מועד קבלת הציונים
במכינה, ולאיזו שנת הרשמה הם תקפים.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;<a
                        name="1"></a></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">מי יכול ללמוד במכינה?</span></span></strong>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">צעירים וצעירות בגילאים 19-26 אשר שירתו בצה"ל או בשירות
לאומי, שעקב סיבות שונות לא סיימו את לימודיהם התיכוניים, או לא השלימו תעודת
בגרות מלאה, או מעוניינים לשפר את ציוניהם. קיימות גם מכינות ייעודיות לגילאי 30+.
</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;<a
                        name="2"></a></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">מה עליך לעשות כדי ללמוד במכינה?</span></span></strong>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">היחידה להכוונת חיילים משוחררים עורכת ימי
עיון ומעניקה ייעוץ אישי לגבי האפשרויות העומדות בפניך לקראת שחרורך מצה"ל,
כולל מידע לגבי המכינות.&nbsp;בנוסף לכך, באפשרותך לפנות ישירות לכל אחת מהמכינות <a
                            href="http://www.searchik.co.il/page.asp?pathName=0490083,0490083">המפורטות להלן</a>,
עם תעודות ומסמכים המעידים על השכלתך, כדי לקבל ייעוץ והכוונה.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">אם חשבת על מוסד מסוים שבו תהיה מעוניין
ללמוד, רצוי לפנות למכינה הקדם אקדמית הקשורה לאותו מוסד. לכל מכינה תנאי קבלה
מיוחדים הכוללים מבחן פסיכומטרי, מבחן ידע ותנאים נוספים.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;<a
                        name="3"></a></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">אילו מסלולי לימוד קיימים?</span></span></strong>
                </p>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><span style="color: #008000;">מסלול חד שלבי:</span><br/>
  למועמדים
  המעוניינים להשלים עד 14 יח"ל- השלמת תעודת בגרות; משך המסלול 9 חודשים.</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><span style="color: #008000;">מסלול דו-שלבי:</span><br/>
  תלמידים
  בעלי 11 שנ"ל או מי שחסרות לו יותר מ-14&nbsp;יח"ל לבגרות,
  במטרה להשלים תעודת בגרות. משך המסלול כ-18 חודשים.</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><span
                                    style="font-size: medium;"><span
                                    style="color: #008000;">מסלול אינטנסיבי:<br/></span></span><span
                                    style="font-size: medium;">תלמידים המעוניינים לשפר ו/או להשלים מקצוע בגרות אחד או
  שניים. משך המסלול 4.5 חודשים.&nbsp;</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><span
                                    style="font-size: medium;"><span style="color: #008000;">מסלול מדורג:</span><br/>
  מיועד לתלמידים המעוניינים ללמוד מס' שעות מועט&nbsp;בשבוע לצורך שיפור ו/או השלמת תעודת בגרות.
  משך המסלול: לכל אחד מותאם מסלול אישי, משך הזמן משתנה מאדם לאדם.<br/><br/></span><span style="font-size: medium;"><span
                                    style="color: #008000;">מסלול רענון:</span><br/></span><span
                                    style="font-size: medium;">תלמידים העומדים בדרישות הכניסה
  לאוניברסיטה. מטרת המסלול הינה רענון הידע והגברת המוכנות ללימודים אקדמיים. משך
  המסלול 4.5 חודשים.<br/><br/></span><span style="font-size: medium;"><span style="color: #008000;">מסלול ייעודי (מכינה קדם
  אקדמית):<br/></span></span><span style="font-size: medium;">תלמידים המעוניינים להמשיך את לימודיהם
  במוסד בו מתקיימת המכינה. מטרת מסלול זה הינה קבלת תעודת מכינה המחליפה את תעודת
  הבגרות לצורך קבלה ללימודים אקדמיים. משך המסלול 9 חודשים.</span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>

                            <p dir="RTL"><strong><span style="font-size: medium;"><span style="color: #008000;"><span
                                    style="font-family: arial, helvetica, sans-serif;">חשוב לזכור- לכל מכינה תנאי
  קבלה ייחודיים משלה, על כן חשוב לפנות ישירות אל המכינה המבוקשת לבירור התנאים. </span></span></span></strong></p>

                            <p dir="RTL"><strong><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></strong></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;<a
                        name="4"></a></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">סיוע במימון הלימודים ודמי קיום</span></span></strong>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">בהתאם לחוק קליטת חיילים משוחררים,
התשנ"ד 1994, חייל משוחרר כהגדרתו בחוק דנן, עשוי להיות זכאי להשתתפות מלאה
או חלקית בתשלום שכר הלימוד במכינה קדם אקדמית מוכרת ע"י משרד החינוך, וכמו
כן, לדמי קיום <a href="http://www.hachvana.mod.gov.il/hacvana/Pages/default.aspx">מהקרן לסיוע
                        נוסף</a>, כל זאת בהתאם לקריטריונים המקובלים במכינות.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">הזכאות לסיוע זה ניתנת למימוש בתוך 5 שנים
מיום השחרור מצה"ל.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">בכל מקרה אחר, ניתן לממש את הפיקדון האישי
למימון שכר-לימוד בכל מכינה קדם אקדמית.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">בחלק מהמכינות קיימת אפשרות למעונות.</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;<a
                        name="5"></a></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">מידע נוסף על לימודים קדם-אקדמיים:</span></span></strong>
                </p>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">האגודה
  לקידום החינוך,</span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">האגף
  ללימודים קדם-אקדמיים,</span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">רח'
  תורה ועבודה 1 ירושלים 91162.</span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">טל'
  02-6441101, פקס 02-6428804.</span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <p dir="RTL"><a target="_blank"
                                            href="http://www.searchik.co.il/site.asp?pathName=0490083,0490083"><span
                                    style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">אינדקס מכינות</span></span></a>
                            </p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="42">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="100%">
                            <p dir="RTL"><a target="_blank"
                                            href="http://www.hachvana.mod.gov.il/pages/limudim/limudim_mechinot_kdam_aaademit.asp?UN=2&amp;HD=2&amp;SUB_UN=3"><span
                                    style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">הלשכות להכוונת חיילים משוחררים:</span></span></a>
                            </p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span style="color: #008000;"><span
                                    style="font-family: arial, helvetica, sans-serif;">ירושלים:</span></span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">רחוב
  בן יהודה 34, בניין מגדל העיר קומה 14. ת.ד 2467 מיקוד 94581</span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">טל':
  02-6251735/6, פקס: 02-6250897 בימים א', ב', ד', ה' בשעות 8:30-13:30, ד' </span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">15:00-17:00</span></span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p dir="RTL"><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-family: arial, helvetica, sans-serif;">תל-אביב:</span></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">בנין
משרד הביטחון, תל השומר (ליד לשכת הגיוס) רח' יעקב דורי, קרית אונו</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">טל':
03-738-09-09</span></span></p>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><span
                        style="color: #008000;">חיפה</span>:</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">משרד
הביטחון רח' המלך דוד 44</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">טל':
04-8301104/8, בימים א'-ה' בשעות 8:00-12:00<br/>&nbsp;</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-family: arial, helvetica, sans-serif;">באר
שבע:</span></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">דרך
מצדה 23/6, מרכז הנגב</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">טל'
08-6494558, 08-6494548, בימים א', ב', ד' בשעות 8:00-12:00<br/>&nbsp;</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-family: arial, helvetica, sans-serif;">אשקלון:</span></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">בשרות
התעסוקה, שיכון דרומי</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">טל'
08-6750241, ביום ג' בשעות 8:00-12:00<br/>&nbsp;</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">נציגי היחידה מקיימים קבלת קהל בישובים נוספים. לברור הימים והשעות אנא פנה/י
ללשכה הקרובה לאזור מגוריך.</span></span></p>


            </div>

        </div>
{% endblock %}