{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>פסיכומטרי</h1>


            </div>


            <div class="menu-right">

                <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_information.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">איפה כדאי ללמוד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td" style="font-size: medium"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_psychometric.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text-selected"
                                                                                    style="font-size: medium">פסיכומטרי</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_acceptance.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">סיכויי קבלה </span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td" style="font-size: medium"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_mechinot.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">מכינות</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_scholarships.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">מלגות</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_job_search.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">חיפוש עבודה </span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_how_to_do_it.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">איך מממשים?</span></a>
                        </td>
                    </tr>
                </table>


            </div>


            <div class="page-content" style="margin-right: 271px;">
                <div dir="RTL"><span style="font-size: small;">
<p dir="RTL" style="font-family: arial, helvetica, sans-serif; font-weight: bold;"><a href="#1"><strong><span
        style="font-size: medium;"><span style="color: #008000;"><span
        style="font-family: arial, helvetica, sans-serif;"><span style="font-size: small;"><strong><span
        style="font-size: medium;"><span style="color: #008000;"><span
        style="font-family: arial, helvetica, sans-serif;">מהי
הבחינה הפסיכומטרית?</span></span></span></strong></span></span></span></span></strong></a></p>
<p dir="RTL"><strong><span style="font-size: medium;"><span style="font-size: medium;"><span style="font-size: medium;"><span
        style="font-size: medium;"><span style="color: #008000;"><span
        style="font-family: arial, helvetica, sans-serif;"><a href="#2">מי חייב להיבחן בבחינה
    הפסיכומטרית? </a></span></span></span></span></span></span></strong></p>
<p dir="RTL" style="font-family: arial, helvetica, sans-serif; font-weight: bold;"><strong><span
        style="font-size: medium;"><span style="color: #008000;"><span
        style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: medium;"><span
        style="font-size: medium;"><span style="font-size: medium;"><span style="font-size: medium;"><span
        style="color: #008000;"><span style="font-family: arial, helvetica, sans-serif;"><a href="#3">מתי כדאי להבחן
    בבחינה הפסיכומטרית?</a><br/><br/><a href="#4"><span
        style="color: #008000; font-size: medium; font-weight: bold;"><span><span
        style="font-family: arial, helvetica, sans-serif;">כיצ</span></span></span><span
        style="color: #008000; font-size: medium; font-weight: bold; font-family: arial, helvetica, sans-serif;">ד נרשמים לבחינה?</span>&nbsp;
</a><br/><br/><a href="#5"><span
        style="color: #008000; font-size: medium; font-weight: bold; font-family: arial, helvetica, sans-serif;">מ</span><span
        style="color: #008000; font-size: medium; font-weight: bold; font-family: arial, helvetica, sans-serif;">הן השפות בהן ניתן להיבחן?</span></a>&nbsp;<br/><br/><a
        href="#6"><span
        style="color: #008000; font-family: arial, helvetica, sans-serif; font-size: medium; font-weight: bold;">מהם מועדי הבחינה?</span>&nbsp;
</a><br/><br/><span
        style="color: #008000; font-size: medium; font-weight: bold; font-family: arial, helvetica, sans-serif;"><a
        href="#7">מה</a></span><span
        style="color: #008000; font-size: medium; font-weight: bold; font-family: arial, helvetica, sans-serif;"><a
        href="#7">&nbsp;משמעות הציון בבחינה?</a><br/><br/></span><a href="#8"><span
        style="font-family: arial, helvetica, sans-serif;">כי</span><span
        style="font-family: arial, helvetica, sans-serif;">צד ניתן להתכונן לבחינה?</span></a><br/>&nbsp;</span></span></span></span></span></span></strong></span></span></span></strong>
</p>
<p dir="RTL" style="font-family: arial, helvetica, sans-serif; font-weight: bold;"><strong><span
        style="font-size: medium;"><span style="color: #008000;"><span
        style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: medium;"><span
        style="font-size: medium;"><span style="font-size: medium;"><span style="font-size: medium;"><span
        style="color: #008000;"><span
        style="font-family: arial, helvetica, sans-serif;"></span></span></span></span></span></span></strong></span></span></span></strong>
</p>
<p dir="RTL" style="font-family: arial, helvetica, sans-serif; font-weight: bold;"><strong><span
        style="font-size: medium;"><span style="color: #008000;"><span
        style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: medium;"><span
        style="font-size: medium;"><span style="font-size: medium;"><span style="font-size: medium;"><span
        style="color: #008000;"><span style="font-family: arial, helvetica, sans-serif;"><a
        name="1"></a><br/></span></span></span></span></span></span></strong></span></span></span></strong></p>
<p dir="RTL" style="font-family: arial, helvetica, sans-serif; font-weight: bold;"><strong><span
        style="font-size: medium;"><span style="color: #008000;"><span
        style="font-family: arial, helvetica, sans-serif;">מהי
הבחינה הפסיכומטרית? </span></span></span></strong></p>
<p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">הבחינה הפסיכומטרית נדרשת על מנת להתקבל לאוניברסיטאות,
למכינות, למכללות ולמוסדות לימוד על-תיכוניים רבים, ומהווה את אחד הנתונים הנלקחים
בחשבון בתהליך ברירת המועמדים וקבלתם לתחומי לימוד במוסדות השונים. ישנם תחומי
לימוד רבים ולא רק במכללות אלא גם באוניברסיטאות- שאליהם ניתן להתקבל רק על בסיס
ציוני בגרות (כמובן גבוהים למדי). עם זאת, סיכויי הקבלה עשויים להשתפר אם יש גם
ציון פסיכומטרי שמשוקלל יחד עם הבגרות ומהווה קריטריון קבלה נוסף. בפרט, הציון
הפסיכומטרי עשוי לפצות על ציוני בגרות לא גבוהים.&nbsp;
</span></span></p>
<p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">הציון הפסיכומטרי נמצא כמנבא הצלחה בלימודים אקדמיים ולכן
מהווה את אחד מקריטריוני הקבלה. בבחינה נבדקים כישורים כמותיים ומילוליים, וכן ידע
באנגלית. התפתחות כישורים אלו הינה הדרגתית ומתרחשת לאורך שנים, הן בלימודים
במסגרות חינוכיות כגון בית הספר, והן מחוץ למסגרות אלו. </span></span></p>
<p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">הביצוע בבחינה יכול להשתנות עקב התנסות ותרגול שיתרמו להתפתחות
הכישורים הנמדדים. ניתן לעשות סימולציה של המבחן הפסיכומטרי שהוכן במרכז הארצי
לבחינות ולהערכה (בחינם באתר <a
            href="https://www.nite.org.il/index.php/he/tests/psychometric/psychometric-preparation/psych-prep-computerized.html">המרכז
        הארצי לבחינות והערכה</a>).&nbsp;</span></span></p>
</span></div>
                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">&nbsp;<br/><a
                        name="2"></a></span></span></span></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-size: medium;"><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-family: arial, helvetica, sans-serif;">מי חייב להיבחן בבחינה הפסיכומטרית? </span></span></span></span></span></span></strong>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">מרבית המוסדות האקדמיים בישראל משתמשים בבחינה הפסיכומטרית כדי
למיין ולבחור את המתאימים ביותר מקרב הפונים אליהם. </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">מחקרים רבים מראים כי קיים קשר חיובי הדוק בין הצלחה בבחינה
הפסיכומטרית לבין הצלחה בלימודים. לפיכך, מרבית הפונים ללימודים במוסד אקדמי
נדרשים להיבחן בבחינה הפסיכומטרית. </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">עם זאת, ישנם תחומי לימוד מסוימים במוסדות שונים, בהם לא נדרשת
בחינה פסיכומטרית (בהם ניתן להתקבל על סמך ציוני תעודת הבגרות בלבד). על כן, מומלץ
לבדוק מראש האם בכלל יש צורך במבחן פסיכומטרי עבור החוג בו הנך מעוניין.</span></span></p>

                <p dir="rtl"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><br/><a
                        name="3"></a></span></span></span></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-size: medium;"><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-family: arial, helvetica, sans-serif;">מתי כדאי להבחן בבחינה הפסיכומטרית?</span></span></span></span></span></span></strong>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">תוצאות הבחינה תקפות לצורך קבלה לאוניברסיטאות לפחות ל-7 שנות
הלימוד שלאחר מועד הבחינה. </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">מספר הפעמים בהן ניתן להיבחן אינו מוגבל, אולם נדרש מרווח זמן
של מועד בחינה אחד לפחות בין בחינה לבחינה (לפירוט <a
                            href="https://www.nite.org.il/files/test_schedule_prices/2014_hebrew.pdf" target="_blank">לחץ
                        כאן</a>). מרבית המוסדות
מתחשבים בציון הגבוה ביותר שהשיג הנבחן. </span></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">לכן, כדאי להיבחן במועד מוקדם ככל האפשר; כך יישאר לך מספיק
זמן לגשת לבחינה חוזרת, במידה ותרצה לשפר את סיכויי קבלתך. </span></span></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><span style="font-size: medium;">יש מוסדות המגבילים את מועד הבחינה האחרון לשנת לימודים
מסוימת, כך שבחינה במועד מאוחר יותר לא תאפשר למועמד להירשם ללימודים באותה שנה.
על כן, בטרם תבחר את מועד הבחינה, מומלץ לברר אם מועד זה תואם את דרישות המוסד
(הפקולטה, המחלקה והחוג) שאתה מעוניין להתקבל אליו, ואם אפשר להבחן במועד זה בשפה
המועדפת עליך.</span>&nbsp;<br/>&nbsp;</span></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;"><a
                        name="4"></a></span></span></span></span></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-size: medium;"><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">כיצ</span></span></span><span
                        style="font-family: arial, helvetica, sans-serif;">ד נרשמים לבחינה?</span></span></span></span></span></span></strong>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">הדרך הפשוטה והמהירה ביותר להירשם לבחינה היא
באמצעות האתר של <a href="http://www.nite.org.il/" target="_blank">המרכז הארצי לבחינות והערכה</a>.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">לחילופין, ניתן להירשם לבחינה באמצעות ערכת
הרשמה, אשר כוללת טופס הרשמה, דף נוהלי הרשמה וחוברת הדרכה שבה דוגמאות והסברים
לפרקי הבחינה השונים ובחינה להתנסות עצמית. </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">ניתן לרכוש את הערכה בחנויות הספרים
האוניברסיטאיות, ברשת חנויות "סטימצקי" או בפנייה בכתב, בצירוף המחאה
לפקודת המרכז הארצי לבחינות ולהערכה, בכתובת: המרכז
הארצי לבחינות ולהערכה (עבור טופס הרשמה) ת.ד. 26015, ירושלים 91260.
</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">לבירור מחיר הערכה, חייגו 02-6759555.</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">לאחר שרכשת את ערכת ההרשמה, עליך לעשות את
הדברים הבאים: </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">1. למלא את טופס ההרשמה</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">2. לשלם את דמי הבחינה בבנק</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">3. לשלוח את הטופס המלא בצרוף אישור תשלום דמי
הבחינה בדואר רשום אל המרכז הארצי לבחינות ולהערכה, ת.ד. 26015,
ירושלים 91260. </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><br/><a name="5"></a></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-family: arial, helvetica, sans-serif;">מ</span><span
                        style="font-family: arial, helvetica, sans-serif;">הן
השפות בהן ניתן להיבחן?</span></span></span></strong></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">אפשר להיבחן בשפות הבאות: עברית, ערבית,
צרפתית, ספרדית, רוסית ומשולב/אנגלית. </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">בנוסח משולב/אנגלית, הבחינה מוצגת באנגלית
ובעברית, ומילים נבחרות מתורגמות לשפות נוספות. </span></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">לא בכל המועדים ניתן להיבחן בכל השפות.</span></span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">ניתן לרכוש ערכת הרשמה בכל אחת מהשפות
המוזכרות.<br/><br/>&nbsp;<br/><a name="6"></a>&nbsp;&nbsp;</span></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-family: arial, helvetica, sans-serif;">מהם מועדי הבחינה?</span></span></span></strong>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">הבחינה נערכת בכמה מועדים במהלך השנה. בדרך כלל
המועדים הם: פברואר, מרץ/אפריל, יולי, אוקטובר ודצמבר.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">לפרטים נוספים, פנו לאתר האינטרנט של <a
                        href="http://www.nite.org.il/" target="_blank">המרכז הארצי לבחינות והערכה</a>.
או חייגו 02-6759555.</span></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">חשוב לדעת כי מספר הנבחנים בכל מועד ומקום הינו
מוגבל. לכן, מומלץ להירשם בהקדם, כדי שתוכלו להיבחן במקום בהתאם להעדפתכם. </span></span></span></p>
<span style="font-size: medium;">
<div dir="rtl" style="text-align: right;"><span style="font-size: medium;"><span
        style="font-family: arial, helvetica, sans-serif;"><span style="text-decoration: underline;">שימו לב, למרות הדעה הרווחת:</span> ציון הבחינה אינו מושפע ממועד הבחינה,
מנוסח הבחינה, מקבוצת הנבחנים המסוימת הנבחנת באותו מועד או משפת הבחינה. הציונים
מחושבים על בסיס אחיד ובר השוואה בין שפות, מועדים, שנים ונוסחים.<br/>&nbsp;</span></span></div>
</span>

                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><br/><a name="7"></a></span></span></p>

                <p dir="RTL"><strong><span style="font-size: medium;"><span style="color: #008000;"><span
                        style="font-family: arial, helvetica, sans-serif;">מה</span><span
                        style="font-family: arial, helvetica, sans-serif;"> משמעות הציון בבחינה?</span></span></span></strong>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">סולם הציונים הכללי נע מ-200 עד 800, והוא מבטא את מקומו
היחסי של הנבחן בהשוואה ליתר הנבחנים. אין בבחינה ציון 'עובר' או 'נכשל'. </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">לציון בחלק האנגלית בבחינה יש משמעות נוספת: הוא קובע האם
הסטודנט יהיה פטור מלימודי אנגלית בשנה הראשונה של לימודיו האקדמאיים, או האם הוא
יצטרך להשלים את רמת ידיעותיו באנגלית במהלך שנת הלימודים. </span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">המרכז הארצי לבחינות ולהערכה מקיים מבחן לקביעת רמת האנגלית
גם בנפרד מהבחינה הפסיכומטרית, המכונה "מבחן אמיר" (או "מבחן
אמירם", שהינו מבחן ממוחשב).</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">ההחלטה בדבר קבלת מועמד או דחייתו על סמך ציוניו בבחינה
הפסיכומטרית בשילוב עם ציוני הבגרות ונתונים אחרים נתונה בידי מוסדות הלימוד
ונעשית על פי מספר המקומות בחוג, כמות המועמדים ורמתם.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">גם ציון פסיכומטרי נמוך יחסית (או לחילופין ממוצע בגרות
נמוך יחסית) מאפשר להתקבל לחוגים רבים באוניברסיטאות השונות (לרוב יש שקלול בין
שני אלה).</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">לאחר שנבחנת בבחינה הפסיכומטרית, מומלץ שתסתכל באתר <a
                        href="http://www.nx2learn.com/entrance-requirements.php">מידעת</a> בעזרתו תוכל לבדוק את אפשרויות הקבלה
שלך לחוגים ולמוסדות שאתה מעוניין ללמוד בהם. כמו כן ניתן להסתכל גם באתר מוסד
הלימודים.<br/>&nbsp;<br/>&nbsp;</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><a name="8"></a></span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="color: #008000;"><strong><span
                        style="font-family: arial, helvetica, sans-serif;">כי</span><span
                        style="font-family: arial, helvetica, sans-serif;">צד ניתן להתכונן לבחינה</span></strong><strong>?</strong></span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">ערכת ההרשמה לבחינה מכילה חוברת הדרכה ובה מידע כללי על
הבחינה, פרקים לדוגמא ובחינה שלמה להתנסות עצמית, בלוויית נספח המאפשר לחשב אומדן
של ציוני הבחינה ומרכיביה.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">מומלץ לתרגל את הפריטים לדוגמא המובאים בחוברת ההדרכה.</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">בעזרת תרגול זה תלמד להכיר את המטלות העומדות בפניך, ותפחית
את רמת החרדה, מה שיכול לתרום לשיפור הישגיך בבחינה.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">כמו כן, מוציא המרכז הארצי לבחינות ולהערכה קובץ בחינות
אמיתיות להתנסות עצמית הנקרא "פסיכומטרי מכל הבחינות", המאפשר תרגול
נוסף, אמין ומקיף במתכונת הבחינה (הקובץ ניתן לרכישה בחנויות סטימצקי).</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">סקרים עדכניים, שנעשו בארץ ובעולם, הראו כי חוברת או ספר
תרגול והכנה, עיון ותרגול יסודיים או אף התנסות בבחינה בתנאי אמת הם אלה שיפיקו את
התועלת הרבה ביותר מהדרכים השונות להכנה לבחינה.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">בנוסף, קיימים מכוני הכנה רבים המציעים קורסי הכנה לקראת
הבחינה הפסיכומטרית, ואף לימודי הכנה און ליין.</span></span></p>

                <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: medium;">קורסים מקצועיים במתמטיקה ואנגלית יכולים גם כן לתרום למי
שחסר ידע בתחומים אלו.&nbsp; </span>&nbsp;</span> &nbsp; &nbsp;</p>
<span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">
</span></span>

                <p>&nbsp;</p>

                <p>&nbsp;</p>


            </div>


        </div>
{% endblock %}