{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>סיכויי קבלה</h1>


            </div>


            {% set selected = 3 %}
            {% include "partials/side_menu.html" with  path%}

            <div class="page-content" style="margin-right: 271px;">
                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">


            </div>

        </div>
{% endblock %}