{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>איך מממשים?</h1>


            </div>


            <div class="menu-right">

                <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
                    <tr>
                        <td class="menu-right-td"><a href="http://kivunim.huji.ac.il/kl4/kl4_information.html"
                                                     style="cursor:pointer; text-decoration:none"> <span
                                class="menu-r-text" style="font-size: medium">איפה כדאי ללמוד?</span></a></td>
                    </tr>
                    <tr>
                        <td class="menu-right-td" style="font-size: medium"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_psychometric.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">פסיכומטרי</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_acceptance.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">סיכויי קבלה </span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td" style="font-size: medium"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_mechinot.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">מכינות</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_scholarships.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">מלגות</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_job_search.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text"
                                                                                    style="font-size: medium">חיפוש עבודה </span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="menu-right-td"><a
                                href="http://kivunim.huji.ac.il/kl4/kl4_information_how_to_do_it.html"
                                style="cursor:pointer; text-decoration:none"> <span class="menu-r-text-selected"
                                                                                    style="font-size: medium">איך מממשים?</span></a>
                        </td>
                    </tr>
                </table>


            </div>


            <div class="page-content" style="margin-right: 271px;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><strong><span
                                    style="color: #008000;">פסיכומטרי
  הוא האמצעי ולא המטרה</span><br/>
                            </strong>צעירים
  רבים שוכחים לעתים שהמבחן הפסיכומטרי הוא רק אמצעי בדרך להשגת המטרה &ndash; לימודים
  אקדמיים. המרדף אחר ה-700 הפך מזמן למטרה בפני עצמה, וחבל. הלימודים למבחן
  הפסיכומטרי כרוכים בהשקעה עצומה ולעתים אף מוגזמת של זמן, כסף, ומאמץ. בחלק
  ממוסדות הלימוד והמקצועות, פסיכומטרי אינו דרישת חובה ולעתים ניתן לוותר עליו
  כליל. אנו ממליצים שלפני שאתה מתחיל במרוץ, סמן לעצמך את המטרה: מה אתה רוצה
  ללמוד, איפה, ומהו הציון הפסיכומטרי הנחוץ לך (אם בכלל) כדי להתקבל.<br/>
  עם זאת, שים לב כי בחלק ממוסדות הלימוד מחלקים מלגות בהסתמך על ציוני הבגרות
  והפסיכומטרי. לכן, כדאי לשקלל גם את המידע הזה לתוך ההחלטה מהו ציון הפסיכומטרי
  הרצוי.<br/>&nbsp; </span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><strong><span
                                    style="color: #008000;">בדוק
  את סיכויי קבלתך לפני ההרשמה</span><br/>
                            </strong>לפני שאתה
  נרשם למוסד הלימודים המועדף עליך, בדוק את סיכויי הקבלה שלך לאותו מוסד. עלות
  ההרשמה למוסדות הלימוד השונים נעה בין 300 ל-400 שקלים, ולא ניתן לקבל עליה
  זיכוי גם אם לא תתקבל ללימודים, או אם תבטל את הרשמתך. <br/>
  לכן, מומלץ למנוע הרשמה מיותרת, אם ניתן לדעת מראש (או לפחות להעריך) שהיא חסרת
  סיכוי. <br/>
  בדיקה ראשונית לסיכויי הקבלה ניתן לעשות באתר "<a target="_blank"
                                                  href="http://yoram.walla.co.il/ts.cgi?tsscript=adv/index">יורם</a>", שנותן
  מידע על סיכויי קבלה למספר מוסדות. בשלב שני מומלץ ביותר לבדוק גם באתר של המוסד
  האקדמי עצמו. <br/>
  <strong>שים לב!</strong> בדיקת סיכויי הקבלה נותנת אומדן, ולא תמיד מהווה ערובה לקבלה
  בפועל.<br/>&nbsp;</span></span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><strong><span
                                    style="color: #008000;">"רגע האמת"- ההרשמה: ניצול יעיל של האפשרויות</span><br/>
                            </strong>ברישום
  למוסד הלימודים, יש לדרג את תחומי הלימוד המועדפים על-פי סדר עדיפות. הדיון
  בבקשת הקבלה הוא על-פי סדר העדיפויות ולפיכך יש לו חשיבות: תחילה יבדקו סיכויי
  הקבלה לחוג שנרשם בעדיפות הראשונה ואחריו לחוג שנרשם בעדיפות השנייה, וכן הלאה.
  לכן, גם אם סיכויי הקבלה שלכם למקצוע המועדף עליכם הם גבוהים, מומלץ לדרג
  עדיפויות נוספות, שיכולות להתאים במידת הצורך.<br/>&nbsp;</span></span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><strong><span
                                    style="color: #008000;">שוקל לימודים במכללה? &ndash; אין חכם כבעל ניסיון</span><br/>
                            </strong>שוקל
  לימודים במכללה? מתלבט איזו הכי מתאימה לך? היעזר בניסיונם של סטודנטים וותיקים.
  משרד התמ"ת ערך סקר השוואתי בין המכללות בארץ לגבי נושאים כגון איכות
  השירות, איכויות סביבת לימודים, תשתיות תומכות הוראה, איכויות הוראה, ושירותים
  לסטודנט. פנה <a target="_blank" href="http://www.moit.gov.il/cmsTamat/mahat_seker.aspx">לכאן</a>
  לקבלת תשובות לשאלותיך.</span></span></span></p>

                            <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">כמו כן, מומלץ לבקר ב<a
                                    target="_blank" href="http://www.michlalot.co.il/">פורטל
                                מכללות</a> לקבלת מידע רב על המכללות בארץ.<br/>&nbsp;</span></span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="100%">
                            <p dir="RTL"><span style="font-size: medium;"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><strong><span
                                    style="color: #008000;">לֶמה
  מכינה המכינה?</span><br/>
                            </strong>שימו לב,
  לא כל האוניברסיטאות והמכללות מכירות בציוני המכינה של אוניברסיטאות או מכללות
  אחרות! לכן, מומלץ בטרם ההרשמה למכינה לבדוק במוסדות הלימוד הפוטנציאליים עבורכם
  האם הם מכירים בציוני המכינה אליה אתם מתכוונים להירשם. נסו להתאים את המכינה
  אליה אתם נרשמים אל מוסד הלימוד בו אתם שואפים ללמוד. <a href="../page.aspx?id=25&amp;hmenu=6">לחצו
                                    כאן לקבלת מידע מקיף אודות מכינות קדם אקדמיות</a>. </span></span></span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>

        </div>
{% endblock %}