{% extends "../layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="content">

            <div class="page-contact-title">

                <h1>מלגות</h1>


            </div>


            {% set selected = 5 %}
            {% include "partials/side_menu.html" with  path%}


            <div class="page-content" style="margin-right: 271px;">
                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">איך אפשר להשיג
השכלה גבוהה בלי לעשות חור בכיס? &ndash; בין השאר, באמצעות מלגות מחייה ולימודים אשר ניתנות
לסטודנטים על סמך קריטריונים שונים.</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">להלן&nbsp;<strong>אתרים</strong> בהם ניתן למצוא מידע על
המלגות השונות, והקריטריונים לקבלתן:</span></span></p>

                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><strong><a target="_blank"
                                                                                      href="http://rothchild.priza.info/general_page.aspx"></a></strong><strong><a
                        target="_blank" href="http://rothchild.priza.info/general_page.aspx">מלגת שגרירי
                    רוטשילד</a></strong></span></span></p>

                <p dir="RTL"><a target="_blank" href="http://cms.education.gov.il/EducationCMS/UNITS/kranot"><span
                        style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">אתר המלגות של משרד החינוך, התרבות
הספורט</span></span></a></p>

                <p dir="RTL"><a target="_blank" href="http://www.gruss.org.il/milgot.html"><span
                        style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">קרן גרוס לחיילים משוחררים</span></span></a>
                </p>

                <p dir="RTL"><span style="text-decoration: underline;"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><a target="_blank"
                                                                              href="http://www.nirshamim.co.il/scolars.asp"></a><a
                        target="_blank" href="http://www.nirshamim.co.il/scolars.asp">נרשמים - מלגות לימודים לנרשמים</a></span></span></span>
                </p>

                <p dir="RTL"><a target="_blank" href="http://yoram.walla.co.il/ts.cgi?tsscript=milgot/index"><span
                        style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">אתר המלגות של יורם לימודים</span></span></a>
                </p>

                <p dir="RTL"><a target="_blank" href="http://www.milgot.org.il/"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">מדריך המלגות השלם</span></span></a></p>

                <p dir="RTL"><a target="_blank" href="http://www.limudim-info.co.il/scholarships.asp"><span
                        style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">אתר המלגות של לימודים-אינפו</span></span></a>
                </p>

                <p dir="RTL"><a target="_blank" href="http://www.perach.org.il/"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">פר"ח &ndash; פרויקט חונכות</span></span></a>
                </p>

                <p dir="RTL"><a target="_blank"
                                href="http://www.1click.co.il/default.asp?catid=%7B18C879BD-4D9B-4D99-8C57-CCF23EDE21B2%7D"><span
                        style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">נתיב ההשכלה</span></span></a></p>

                <p dir="RTL"><a target="_blank" href="http://www.limudphone.co.il/"><span
                        style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;">לימודפון</span></span></a></p>

                <p dir="RTL"><span style="font-size: medium;"><span
                        style="font-family: arial, helvetica, sans-serif;"><a
                        href="http://www.searchik.co.il/sites.asp?pathName=3500073,3500073"></a><a target="_blank"
                                                                                                   href="http://www.searchik.co.il/site.asp?pathName=3500073,3500073">אינדקס
                    מלגות</a></span></span></p>

                <p dir="RTL"><a target="_blank" href="http://www.tips4u.co.il/Index.asp?CategoryID=687"><span
                        style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">טיפים בנוגע להגשת המלגות</span></span></a>
                </p>

                <p dir="RTL"><span style="text-decoration: underline;"><a target="_blank"
                                                                          href="http://www.universities-colleges.org.il/P32473/"><span
                        style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">לוח המלגות של לימודים בישראל</span></span></a></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span>
                </p>

                <p dir="RTL"><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">רשימת מקורות
למלגות ניתן למצוא גם <strong>בחוברות מודפסות</strong>:</span></span></p>
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0" dir="rtl">
                    <tbody>
                    <tr>
                        <td valign="top" width="4">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
                        </td>
                        <td valign="top" width="550">
                            <p dir="RTL"><span style="font-size: medium;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><strong><span
                                    style="color: #008000;">נתיב
  ההשכלה - מדריך ארצי למידע על לימודים ומוסדות לימוד</span></strong><br/>
  נתיב ההשכלה הנו ספר ייחודי, היוצא לאור מזה עשר שנים ברציפות ומתעדכן פעמיים
  בשנה. הספר מכיל אינפורמציה מורחבת אודות אפשרויות הלימוד העל תיכוניות ומיועד
  למסיימי השירות הצבאי והלאומי ולכל החפצים ללמוד, להסב מקצוע, להשלים לימודים
  וכו'. <br/>
  הספר ממוין לפי מקצועות לימוד ובכל מקצוע מופיעות רשומות המכילות מידע רב אודות
  כל מקצוע, כגון מוסד הלימודים, תנאי ההרשמה המפורטים של מסלולי הלימוד, משך
  הלימודים, מהות התעודה המתקבלת בתום הלימודים<strong> </strong>ועוד. <strong>הספר מחולק חינם</strong>
  בתערוכות לימודים, כנסי חיילים משתחררים ברחבי הארץ, עמותות לשירות לאומי, ביחידות
  להכוונת חיילים משוחררים ברחבי הארץ ועוד. <br/>
  למעוניינים לקבל את הספר <strong>באמצעות הדואר, יש לשלוח 20 ש"ח</strong> עבור דמי
  משלוח וטיפול, בצירוף פרטי המבקש לכתובת הבאה:<br/>
  ס. נתיב ההשכלה בע"מ<br/>
  ת.ד. 2915, חולון 58129 <br/>
  טלפון: 03-5011613&nbsp;&nbsp; פקס: 03-5010893</span></span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>


        </div>
{% endblock %}