<div class="menu-right">

    <table border="0" cellspacing="0" cellpadding="0" margin="0" width="100%">
        <tr>
            <td class="menu-right-td"><a href="{{ path }}/process/kl4_process"
                                         style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 1 %}-selected{% endif %}" style="font-size: medium">מחפשים כיוונים לעתיד?</span></a>
            </td>
        </tr>
        <tr>
            <td class="menu-right-td" style="font-size: medium"><a
                        href="{{ path }}/process/kl4_process_what_to_study"
                        style="cursor:pointer; text-decoration:none"> <span class="menu-r-text{% if selected == 2 %}-selected{% endif %}"
                                                                            style="font-size: medium">מה כדאי ללמוד?</span></a>
            </td>
        </tr>
        <tr>
            <td class="menu-right-td"><a href="{{ path }}/process/kl4_process_to_decide"
                                         style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 3 %}-selected{% endif %}" style="font-size: medium">למה חשוב להשקיע בהחלטה? </span></a></td>
        </tr>
        <tr>
            <td class="menu-right-td" style="font-size: medium"><a
                        href="{{ path }}/process/kl4_process_instruction"
                        style="cursor:pointer; text-decoration:none"> <span class="menu-r-text{% if selected == 4 %}-selected{% endif %}"
                                                                            style="font-size: medium">מה תמצא כאן?</span></a>
            </td>
        </tr>
        <tr>
            <td class="menu-right-td"><a href="{{ path }}/process/kl4_process_levels"
                                         style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 5 %}-selected{% endif %}" style="font-size: medium">שלבים מומלצים לתהליך</span></a></td>
        </tr>
        <tr>
            <td class="menu-right-td"><a href="{{ path }}/process/kl4_process_planning"
                                         style="cursor:pointer; text-decoration:none"> <span
                            class="menu-r-text{% if selected == 6 %}-selected{% endif %}" style="font-size: medium">תכנן ביקור נוסף </span></a></td>
        </tr>
    </table>


</div>